/* Referenced fonts brought in by Google Fonts */
* {
	font-family: 'Domine', serif;
	font-family: 'Playfair Display', serif;
}

h1 {
	color:rgb(244, 247, 247);
	text-align: center;
    padding: 15px 15px;
}

header {
	border-bottom-width: 10px;
	border-bottom-color: ghostwhite;
	border-bottom-style: solid;
}

label {
	margin: 10px 10px;
	font-weight: bold;
	font-size: 25px;
}

.btnRow {
	margin-top: 5px;
	margin-bottom: 5px;
}

.icons {
	height: 75px;
	width: 75px;
}

#card-today-date {
	font-size: 20px;
}

.line-break {
	color: ghostwhite;
}